<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  
  <variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${stacktrace} | ${callsite-linenumber} |${newline}${message}${newline}"/>
  <variable name="LogTxtLocation" value="${basedir}/OpenProtocolLogs/${shortdate}.log"/>
  
  <targets>
    <target name="File" 
            xsi:type="File" 
            fileName="${LogTxtLocation}" 
            layout="${Layout}" 
            archiveFileName="${basedir}/OpenProtocolLogs/${shortdate}-{####}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            maxArchiveFiles="9999"
            keepFileOpen="true"/>
    <target xsi:type="Console" name="Console" layout="${Layout}"/>
  </targets>
  
  <rules>
    <logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="File" />
    <logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="Console" />
  </rules>
</nlog>
